option_settings:
  - option_name: AUTH_KEY
    value: 'AJDSAHCMEWKRSODJFIEWRJSDFMKSDMADS'
  - option_name: SECURE_AUTH_KEY
    value: 'SAJDSANCMEWKRSODJFIEWRJSDFMKSDMAD'
  - option_name: LOGGED_IN_KEY
    value: 'DSAJDSADCMEWKRSODJFIEWRJSDFMKSDMA'
  - option_name: NONCE_KEY
    value: 'ADSAJDSAKCMEWKRSODJFIEWRJSDFMKSDM'
  - option_name: SECURE_AUTH_SALT
    value: 'MADSAJDSAKCMEWKRSODJFIEWRJSDFMKSD'
  - option_name: LOGGED_IN_SALT
    value: 'DMADSAJDSAKCMEPKRSODJFIEWRJSDFMKS'
  - option_name: NONCE_SALT
    value: 'SDMADSAJDSAKCMEWKHSODJFIEWRJSDFMK'
  - option_name: AUTH_SALT
    value: 'KSDMADSAJDSAKCMEWKRSODJJIEWRJSDFM'
